.contact {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 27px;
	padding-right: 100px;

		&__text {
			width: 360px;
			margin-bottom: 90px;
			text-align: justify;
		}
}